
#/lib/systemd/system/app.service

[Unit]
Description=Eirete applicattion
After=syslog.target network.target

[Service]
Type=simple
User=root
WorkingDirectory=/opt/eirete-back
#Environment=NODE_ENV=production
ExecStart=/usr/bin/node app.js

Restart=always

[Install]
WantedBy=multi-user.target